/* Regler för hela sidan*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", sans;
    text-decoration: none;
    list-style-type: none; 
}
body{
    background-color: darkgray;
    width: 100%;
    max-width: 1006px;
    margin: 0 auto;
}
/*label för menyn */
label {
    color:red;
    line-height: 40px;
    font-size:2em;
    cursor:pointer;
}
.syndicate {
    background-color: slategrey;
    margin: 1em;
    padding: 0.5em;
    box-shadow: 0.2em 0.2em #B66a57
}



.syndicate header h3 {
    
        text-align: center;
    
        padding: 0.5em;
    
}

.syndicate:nth-child(3n+2) {
    background: #5b6b74;
}
/* checkbox */
#nav-toggle {
    display: none;
}

/* När checkboxen är checked, visas wrappers nav. */
#nav-toggle:checked + #wrapper nav {
    display: block;

}


header nav {
    display: none;
}


header nav a{
	display:block;
	text-decoration: none;
	font-family: merriweather;
	font-weight: bold;
	font-size:10pt;
    color:white;
}

header nav a:hover{
	background:#71F86C;
	color:#f0f1f5;
}

header nav ul{
	list-style: none;
  opacity:0.95;
}

/*  
    regler som bestämmer bakrundsfärgen på mobilens nav
    paddingen som det ska bli för varje ul 
*/

header nav ul li{
background: darkgrey;
padding-left: 40px;
}

nav ul li ul a{
    color: red !important;
  }


nav a:hover
{
        color: white;
}
nav ul li ul a{
    color: black;
  }

a:visited {
    color: black;
}
  

  nav ul ul li ul a{
    color:blue !important;
  }

/* Regler för span som är i en cirkel */

  nav span {
    border-radius: 50%;
    background-color: darkolivegreen;
    color:whitesmoke;
    padding: 6px;
    font-size: 9px;
    margin-left: 0.5em;
}


@media all and (min-width: 630px){
    
     /* På desktop vill vi inte visa checkboxen */

    label{
        display:none;
    }

    header nav ul ul ul {
        display: none;
    }

    header nav ul ul li {
        display: none;
    }

    header nav {
        height: 40px;
        display: block;
        margin: 0 auto;
        width: 1006px;
    }

    /*
        Kontrollerar hur menyn ska se ut på desktop
        float för att visa menyerna brevid varandra
    */

    header nav ul li {
        float: left;
        width: 200px;
        height: 40px;
        line-height: 40px;
        background-color: darkgray;
        padding-left: 0px;
        opacity: 0.95;
        margin-right: 1px;
        text-align: center;
    }

/*
        Gör så att man kan sa extra undermenyer åt sidan istället för
        direkt under den föregående undermenyn
    */
nav ul li:hover ul li{
    position: relative;
    display: block;
}

/*Visar submenyn i dropdown*/
nav ul ul li:hover ul{
	display:block;
	position:absolute; /*sätter positionen till att absolute mot sin förälder som är satt till att vara relativt*/
	width:200px; /*samma som ul li*/
	left:200px; /*absolute position 200px ifrån sin förälder*/
	top:0px; /*absolute position högst mot sin förälder*/
  
}
/*
        Gör så sista li i varje ul förutom huvud ul rundade hörn
    */
nav ul ul li:last-child, nav ul ul li:last-child a:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}




h2+h3 {
    
        color: greenyellow;
    
    }

.contact
{
    text-align: center;
    margin-top: 0.5em;
}


.blog_summary {
    background-color: #EE8D73;
    text-align: center;
}
.blog_summary > span 
{
    color: yellow;
}
.blog_summary nav li 
{
    margin: 0.5em;
    padding: 0.5em;
}
.blog_summary nav li a:hover {
    color: red;
}
/* General sibling selector funkar bara om den 
   första klassen finns och båda har samma
   förälder, contact är föräldren */
.tel ~ .web {
    color:white;
}
}